@import "../Mixins.scss";
@import "../Variables.scss";
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and(min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  &__container {
    @include flexColumn;
    align-items: center;
    margin: 2rem;
    &--img {
      height: 20vh;
      padding: 1rem;
      @media all and (min-width: 768px) {
        height: 30vh;
        padding: 3rem;
      }
    }
    &--card {
      display: flex;
      border: solid 1px $GrayishBlue;
      border-radius: 2px;
      padding: 0 1rem;
      //margin: 0 4rem;
      align-items: center;
      @media all and (min-width: 465px) {
        margin: 1rem;
      }
      @media all and (min-width: 767px) {
        margin: 1rem 2rem;
        max-width: 546px;
      }
      @media all and (min-width: 900px) {
        margin: 1rem 2rem;
        max-width: 620px;
      }
      h2 {
        font-size: 0.8rem;
        @media all and (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
    &--title {
      display: flex;
      flex-direction: column;
      margin-right: 3rem;

      h3,
      p {
        font-size: 0.8rem;
        @media all and (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
    &--total {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-between;
      padding: 2rem 2rem;
      @media all and (min-width: 991px) {
        margin-right: 2rem;
      }
      p {
        font-size: 1.3rem;
        font-weight: bold;
      }
      button {
        border: none;
        color: white;
        background-color: black;
        width: 150px;
        height: 40px;
        font-weight: bold;
        font-size: 0.9rem;
        letter-spacing: 1px;
        margin: 1rem 1rem;

        border-radius: 5px;
        @media all and (min-width: 768px) {
          font-size: 1.2rem;
          width: 190px;
        }
      }
      button:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
    &--qty {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 0.8rem;
        text-align: center;
        @media all and (min-width: 768px) {
          font-size: 1rem;
        }
      }
      button {
        border: none;
        width: 40px;
        background-color: transparent;
        border-radius: 3px;
      }
      button:hover {
        cursor: pointer;
      }
      div {
        display: flex;
      }
    }
    &--icon {
      font-size: 1.1rem;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    h1 {
      margin-top: 2rem;
    }
  }
  &__btn {
    width: 140px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
  }
}
