@import "../Variables.scss";
@import "../Mixins.scss";

.container {
  @media all and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
    &__checkout {
      margin-top: 5rem;
    }
  }
}
.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    @include buttonStyle;
    @media all and (min-width: 768px) {
      width: 300px;
    }
  }
  &__summary {
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    border: solid $GrayishBlue 1px;
    border-radius: 10px;
    background-color: $black;
    color: white;
    padding: 10px;
    @media all and (min-width: 768px) {
      width: 100%;
      padding: 40px;
    }
  }

  &__title {
    text-align: center;
    font-size: 1rem;
  }
  &__subtitle {
    margin: 0;
    font-size: 1rem;
    @media all and (min-width: 768px) {
      padding: 10px;
    }

    &--item {
      color: $orange;
    }
  }
}
