@import "../Variables.scss";
@import "../Mixins.scss";

.singleProduct {
  width: 90%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  @media all and(min-width: 560px) {
    flex-direction: column;
    align-items: center;
  }
  &__card {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }
  &__subcard {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
  }
  &__image {
    width: 200px;
    height: 290px;
    @media all and (min-width: 423px) {
      width: 210px;
      height: 280px;
    }
    @media all and(min-width: 500px) {
      height: 250px;
    }
  }
  &__title {
    padding-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  &__container {
    padding: 0;
    @include flexColumn;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
  }
  &__subtitle {
    color: $orange;
    padding: 0 2rem;
  }
  &__price {
    font-weight: bold;
    padding: 0 2rem;
    @media all and (min-width: 1200px) {
      padding: 0;
    }
  }

  &__description {
    color: $darkBlue;
    padding: 0 2rem;
    text-align: center;
  }
  &__category {
    color: $orange;
  }
  &__card {
    padding: 1rem;
    @media all and (min-width: 768px) {
      width: 18rem;
    }
  }
  &__btn {
    @include buttonStyle;
    margin: 0.5rem 0;
    margin-right: 3px;
  }
}

.single-container {
  @include flexColumn;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
}
