@import "../Variables.scss";

.footer {
  border-top: solid $paleOrange 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
  height: 5vh;
  margin: 3rem auto;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
  padding-bottom: 3rem;

  &__logo {
    width: 100px;
  }
}
