@import "../Variables.scss";
@import "../Mixins.scss";

.header {
  margin: 2rem 0;
  font-family: inherit;
  &__nav {
    margin-top: 2rem;
    padding: 0;
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    &--underline {
      border: solid $paleOrange 2px;
    }
    &--link {
      list-style: none;
      text-decoration: none;
      color: $black;
      font-weight: bold;
    }
    &--link:hover {
      cursor: pointer;
      color: $orange;
    }
    @media all and (min-width: 768px) {
      font-size: 1.4rem;
    }
  }
  &__icon {
    font-size: 1.2em;
    &--count {
      font-size: 0.9em;
    }
  }
  &__icon:hover {
    cursor: pointer;
    color: $orange;
  }
}

.logo {
  @include flexColumnCenter;

  &__img {
    width: 250px;
    @media all and (min-width: 768px) {
      width: 350px;
    }
  }
}
