@import "../Mixins.scss";

.featured {
  &__product {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 1rem;
    list-style: none;
    @include flexColumnWrap;
    align-content: space-around;
    justify-content: space-between;
    padding: 5px;
    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 4rem;
    }
    @media all and (min-width: 1400px) {
      justify-content: space-evenly;
    }
  }
}

.featured__header {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: bolder;
  margin-top: 6rem;
  @media all and (min-width: 768px) {
    font-size: 3rem;
    margin-top: 8rem;
  }
}

.featured__container {
  @include flexColumnWrap;
  align-content: center;
  justify-content: center;
}
