@import "../Mixins.scss";

.processpay {
  height: 50vh;
  @include flexColumnCenter;
  justify-content: space-around;
  text-align: center;
  &__btn {
    @include buttonStyle;
    height: 60px;
    width: 180px;
  }
}
