@import "../Mixins.scss";
@import "../Variables.scss";

.cart {
  @include flexColumnCenter;
  @media all and(min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  &__container {
    @include flexColumnWrap;
    align-items: center;

    @media all and(min-width: 768px) {
      margin: 2rem;
    }
    &--img {
      height: 20vh;
      width: 189px;
      padding: 1rem;
      @media all and (min-width: 768px) {
        height: 30vh;
        padding: 3rem;
        width: 200px;
      }
      @media all and (min-width: 1200px) {
        width: 50%;
      }
    }
    &--card {
      @include flexColumnCenter;
      border: solid 1px #b6bcc8;
      box-shadow: 5px 5px $GrayishBlue;
      border-radius: 20px;

      padding: 1rem 1rem;
      max-width: 189px;
      margin: 1rem 0;
      @media all and (min-width: 465px) {
        margin: 1rem;
      }
      @media all and (min-width: 768px) {
        margin: 1rem 2rem;
        margin-left: 5rem;
        max-width: 521px;
        @include flexRowCenter;
      }
      @media all and (min-width: 900px) {
        margin: 1rem 2rem;
        // max-width: 620px;
      }
      h2 {
        font-size: 1rem;
        @media all and (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
    &--title {
      display: flex;
      flex-direction: column;
      margin-right: 3rem;

      h3,
      p {
        font-size: 1rem;
        @media all and (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
    &--total {
      @include flexColumnCenter;
      align-content: space-between;
      padding: 2rem 2rem;
      @media all and (min-width: 991px) {
        margin-right: 2rem;
      }
      p {
        font-size: 1.3rem;
        font-weight: bold;
      }
      button {
        @include buttonStyle;
        @media all and (min-width: 768px) {
          font-size: 1.2rem;
          width: 190px;
        }
      }
    }
    &--qty {
      @include flexColumnCenter;

      h3 {
        font-size: 1rem;
        text-align: center;
        @media all and (min-width: 768px) {
          font-size: 1rem;
        }
      }
      button {
        width: 30px;
        border: none;

        background-color: transparent;
        border-radius: 3px;
        cursor: pointer;
        @media all and( min-width: 768px) {
          width: 50px;
        }
      }

      div {
        display: flex;
      }
    }

    &--icon {
      font-size: 1.3rem;
    }
  }
  &__title {
    @include flexColumnCenter;

    padding: 2rem;
    h1 {
      margin-top: 2rem;
    }
  }
  &__btn {
    @include buttonStyle;
    height: 50px;
    width: 200px;
  }
}
