//color
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$darkBlue: hsl(220, 13%, 13%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayish: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$offwhite: darken(white, 10%);
$darkblue: rgb(50, 50, 60);
