
@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.header {
 // margin: 2rem;
  height: 50px;
  font-family: inherit;
     &__container{
        @include flexRowCenter;
          justify-content: space-around;
      position: fixed;
      width: 90%;
      margin: 1rem;
      margin-top: 1rem;
      background-color: pink;
      z-index: 1;
     }
  &__nav {
    margin-top: 2rem;
    padding: 0;
  @include flexRowCenter;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
  
    &--link {
      list-style: none;
      text-decoration: none;
      color: $black;
      font-weight: bold;
      font-size: 1em;

            @media all and (min-width: 768px) {
              padding-left: 2rem;
            }
    }
    &--link:hover {
      cursor: pointer;
      color: $orange;
    }
    li {
   
      @media all and (min-width: 768px) {
          padding-left:2rem;
        }
    }
    @media all and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &__icon {
    font-size: 1.2em;
    &--count {
      font-size: 0.9em;
    }
  }
  &__icon:hover {
    cursor: pointer;
    color: $orange;
  }
}

.logo {
  @include flexColumnCenter;

  &__img {
    width: 100px;
    @media all and (min-width: 768px) {
      width: 250px;
    }
  }
}
